@model IEnumerable<todon.ViewModels.UserTasks.UserTaskViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriorityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskTypeName)
        </th>

        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>     
        <td>
            @Html.DisplayFor(modelItem => item.DurationStr)
        </td>     
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriorityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskTypeName)
        </td>

        <td>
            <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
        </td>
    </tr>
}
</table>
